# ==================================================
# Application
# ==================================================
NODE_ENV=development
PORT=5999
APP_URL=http://localhost:5999

# ==================================================
# Database (Prisma)
# ==================================================
DATABASE_URL="postgresql://username:password@localhost:5432/my_database?schema=public"

# For MySQL
# DATABASE_URL="mysql://username:password@localhost:3306/my_database"

# ==================================================
# Authentication
# ==================================================
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Refresh Token (optional)
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=30d

# ==================================================
# File Uploads (optional)
# ==================================================
UPLOAD_DIR=uploads

# ==================================================
# PAYMENT SECRETS
# ==================================================
SSLCOMMERZ_STORE_ID=your_sslcommerz_store_id_here
SSLCOMMERZ_STORE_PASSWORD=your_sslcommerz_store_password_here
SSLCOMMERZ_IS_LIVE=false